<div class="container">
<!-- You are owed section -->
  <% unless @users_user_owed_by.empty? %>
    <div class="title-section">
      <h3>You are owed by</h3>
    </div>
    <% @users.each do |member| %>
      <% if member == @user %>
        <% next %>
      <% elsif member.image.blank? %>
        <% next %>
      <% elsif @user.outstanding_with_person_overall(member) == 0 %>
        <% next %>
      <% elsif @user.outstanding_with_person_overall(member) > 0 %>
        <div class="list-item-full">
          <div class="list-item-tall">
            <div class="profile-img-container">
              <%= image_tag member.image, class: "avatar-medium" %>
            </div>
            <div class="divider">
              <div class="list-item-divider-content">
                <p class="list-item-text"><strong><%= member.first_name %> <%= member.last_name %></strong></p>
                <p class="list-item-text">Across all groups, owes you: <span class="color-primary"><%= humanized_money_with_symbol @user.outstanding_with_person_overall(member) %>></span></p>
              </div>
            </div>
          </div>
          <div class="d-flex align-center justify-space-around">
            <%= link_to user_path(member) do %>
            <p class="btn btn-info no-margin">Profile</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="section-spacer"></div>
  <% end %>


<!-- You Owe Section -->
  <% unless @users_user_owes.empty? %>
    <div class="title-section">
      <h3>You owe</h3>
    </div>
    <% @users.each do |member| %>
      <% if member == @user %>
        <% next %>
      <% elsif member.image.blank? %>
        <% next %>
      <% elsif @user.outstanding_with_person_overall(member) == 0 %>
        <% next %>
      <% elsif @user.outstanding_with_person_overall(member) < 0 %>
        <div class="list-item-full">
          <div class="list-item-tall">
            <div class="profile-img-container">
              <%= image_tag member.image, class: "avatar-medium" %>
            </div>
            <div class="divider-no-flex">
              <div class="list-item-full-divider-content">
                <p class="list-item-text"><strong><%= member.first_name %> <%= member.last_name %></strong></p>
                <p class="list-item-text" >Across all groups, you owe: <span class="color-danger"><%= humanized_money_with_symbol (@user.outstanding_with_person_overall(member) * -1) %></span></p>
              </div>
              <div class="list-item-full-buttons-section d-flex align-center justify-space-around">
                <%= link_to user_path(member) do %>
                <p class="btn btn-info no-margin btn-filled-info">Profile</p>
                <% end %>
                <p class="btn btn-primary no-margin btn-filled-primary settle-up-button" data-id="<%= member.id %>" data-name="<%= member.first_name %>" data-amount="<%= humanized_money_with_symbol (@user.outstanding_with_person_overall(member) * -1) %>">Settle Up</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- JAVASCRIPT FOR THE BUTTON TO SEND TO GROUP, TURN KITTY_CREATED=TRUE AND REDIRECT -->
<% content_for(:after_js) do %>
  <!-- Including the Facebook Extension SDK -->
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_GB/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
  </script>

  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.1.1/sweetalert2.all.min.js' %>

  <script>
    settleUpButtons = document.querySelectorAll(".settle-up-button")
    settleUpButtons.forEach((button) => {
      button.addEventListener("click", () => {
        let settleWithId = button.dataset.id
        let settleWithName = button.dataset.name
        let settleWithAmount = button.dataset.amount
        let message = {
                      "attachment":{
                        "type":"template",
                        "payload":{
                          "template_type":"generic",
                          "elements": [{
                            "title":`<%= @user.first_name %> just settled all with ${settleWithName}`,
                            "subtitle": `Overall they settled ${settleWithAmount} across all shared Kittys.`,
                            "buttons":[{
                              "type":"web_url",
                              "url":"<%= ENV['NGROK'] %>",
                              "title":"View the Expense",
                              "webview_height_ratio": "full",
                              "webview_share_button": "hide",
                              "messenger_extensions": true
                            }]
                          }]
                        }
                      }
                    };
        swal({
                  title: "Confirmation",
                  text: `You have paid ${settleWithName} ${settleWithAmount}?`,
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonColor: '#60D173',
                  confirmButtonText: 'Yes, I have!',
                  cancelButtonText: "No, cancel it!",
                  closeOnConfirm: false,
                  closeOnCancel: false
              }).then((result) => {
                                    if (result.value) {
                                      swal({
                                        title: 'Settled Up!',
                                        text: 'You are settled over all Kittys',
                                        type: 'success',
                                        confirmButtonColor: '#60D173',
                                        confirmButtonText: 'Ok!'
                                      }).then(() => {
                                        // Begin Facebook's Send to Group Flow
                                        MessengerExtensions.beginShareFlow(function(share_response) {
                                          if(share_response.is_sent){
                                            // The user actually did share.
                                            // Perhaps close the window w/ requestCloseBrowser().
                                            window.location.href = `<%= user_settle_all_path %>?settle_with_id=${settleWithId}`
                                          }
                                          else {
                                            window.location.href = `<%= user_settle_all_path %>?settle_with_id=${settleWithId}`
                                          }
                                        },
                                        function(errorCode, errorMessage) {
                                        // An error occurred in the process of sending message, do nothing
                                        },
                                        message,
                                        "broadcast");
                                      })
                                    } else if (result.dismiss === 'cancel') {
                                      swal({
                                        title: 'Cancelled!',
                                        text: "You haven't settled up just yet",
                                        type: 'error',
                                        confirmButtonColor: '#C4183C',
                                        confirmButtonText: 'Close'
                                      })
                                    }
                                  })
      })
    })
  </script>
<% end %>
