<!-- Spacer from Navbar -->
<div class="mb-4"></div>

<!-- Title Section -->
<div class="container">
  <% if @expense.description == "Settled" %>
    <div class="title-section">
      <h3 class="no-margin"><%= @expense.user.first_name %> paid back <%= @expense.splits.first.user.first_name %></h4>
    </div>
  <% else %>
    <div class="title-section">
      <h3 class="no-margin"><%= @expense.user.first_name %> paid for <%= @expense.title %></h4>
    </div>
  <% end %>

<!-- Lending Section -->
  <hr>
  <% if @expense.description == "Settled" %>
    <div class="list-item-tall">
      <div class="profile-img-container mr-4">
        <%= image_tag @expense.user.image + "?type=normal", class: "avatar-medium" %>
      </div>
      <div class="arrow-right-container text-center">
        <p class="under-avatar-text no-margin">Paid Back: <%= humanized_money_with_symbol @expense.amount %></p>
        <%= image_tag 'arrow-right.svg', class: "arrow-right"%>
        <p class="under-avatar-text no-margin"><%= @expense.created_at.strftime("%b %d, %Y") %></p>
      </div>
      <div class="profile-img-container ml-4">
        <%= image_tag @expense.splits.first.user.image + "?type=normal", class: "avatar-medium" %>
      </div>
    </div>
  <% else %>
    <% @expense.splits.each do |split| %>
    <div class="list-item-tall">
      <div class="profile-img-container mr-4">
        <%= image_tag @expense.user.image, class: "avatar-medium" %>
      </div>
      <div class="arrow-right-container text-center">
        <p class="under-avatar-text no-margin">Lent: <%= humanized_money_with_symbol split.amount %> <%# split.%><%# sprintf("%.2f", (split.amount_pennies.to_f / 100)) %></p>
        <%= image_tag 'arrow-right.svg', class: "arrow-right"%>
        <p class="under-avatar-text no-margin"><%= @expense.created_at.strftime("%b %d, %Y") %></p>
      </div>
      <div class="profile-img-container ml-4">
        <%= image_tag split.user.image, class: "avatar-medium" %>
      </div>
    </div>
    <hr>
    <% end %>
  <% end %>

<!-- Details Section -->
  <div class="title-section">
    <h4 class="no-margin">Details</h4>
  </div>
  <% if @expense.description == "Settled" %>
    <div class="card">
      <div class="card-body text-center d-flex align-center">
        <div>
          <p class="no-margin">Total:</p>
          <h4 class="no-margin"> <%= humanized_money_with_symbol @expense.amount %> </h4>
        </div>
        <% if @converted_amount != "Already in preferred currency" %>
        <div>
          <p class="no-margin">Converted Total:</p>
          <h4 class="no-margin"> <%= humanized_money_with_symbol @converted_amount %> </h4>
        </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="card">
      <div class="card-body text-center d-flex align-center">
        <div>
          <p class="no-margin">Total:</p>
          <h4 class="no-margin"> <%= humanized_money_with_symbol @expense.amount %> </h4>
        </div>
        <div>
          <p class="no-margin">Total Lent:</p>
          <h4 class="no-margin"> <%= humanized_money_with_symbol @total_lent %> </h4>
        </div>
      </div>
      <% if @converted_amount != "Already in preferred currency" %>
      <div class="card-body text-center d-flex align-center">
        <div>
          <p class="no-margin">Converted Total:</p>
          <h4 class="no-margin"> <%= humanized_money_with_symbol @converted_amount %> </h4>
        </div>
        <div>
          <p class="no-margin">Converted Lent:</p>
          <h4 class="no-margin"> <%= humanized_money_with_symbol @total_lent_converted %> </h4>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

  <div class="card-row-space"></div>

  <div class="card">
    <div class="card-body text-center">
        <p class="no-margin">Kitty:</p>
        <h4 class="no-margin"> <%= @expense.group.name %> </h4>
    </div>
  </div>

  <div class="card-row-space"></div>

  <div class="card">
    <div class="card-body">
      <hr>
      <p class="no-margin">Currency: <%= @expense.amount.currency.name %></p>
      <% unless @expense.location == "" %>
        <p class="no-margin">Paid at: <%= @expense.location %></p>
      <% end %>
      <hr>
      <% unless @expense.payment_method == "" %>
        <p class="no-margin">Paid by: <%= @expense.payment_method.capitalize %></p>
      <% end %>
      <hr>
      <% unless @expense.description == "" || @expense.description == "Settled" %>
        <p class="no-margin">Description: <%= @expense.description %></p>
      <% end %>
    </div>
  </div>

  <div class="card-row-space"></div>

</div>
